body {
  width: auto;
  height: auto;
  background-color: rgb(139, 114, 114);
  animation-name: change;
  animation-duration: 3s;
  animation-iteration-count: 1000;
}

@keyframes change {
  from {background-color: rgb(141, 137, 137);}
  to {background-color: rgb(207, 178, 164);}
}

.bgc {
  background-color: #505457;
}

a {
  background-color: auto;
  transition: height 1s;
}

a:hover {
  background-color: blue;
}
