body {
  width: auto;
  height: auto;
  background-color: rgb(139, 114, 114);
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: rgb(139, 114, 114);}
  to {background-color: rgb(131, 80, 56);}
}

.bgc {
  background-color: #505457;
}

a {
  background-color: auto;
  transition: height 1s;
}

a:hover {
  background-color: blue;
}
